NGEO_DEBUG=False

NGEO_SECRET_KEY=4Cq$GW:g/f06$9@s\$qgU@%zp"<)hbO]"V4([oim|x!:fO)8*~&GFL?r%M$|kG5Z+gpYnyFlB<i=7]iHDj4>=r=gJSW1(7?@6Yfg[`97+T(<.WVSV5>5h%?4]oGr]2H:

NGEO_DATABASE_URL=postgis://ngeo_db_a:ngeo_db_a@127.0.0.1:5432/ngeo_db_b

NGEO_SESSION_COOKIE_SECURE=False

ALLOWED_HOSTS=192.168.100.172,192.168.60.109
WEB_URL=http://192.168.60.109:3000

NGEO_DEV_INSTALLED_APPS=django_extensions,debug_toolbar
NGEO_DEV_MIDDLEWARE=debug_toolbar.middleware.DebugToolbarMiddleware

SEND_MAIL=True
SMTP_SERVER=smtp.yourserver.com
SMTP_PORT=your-server-port
SMTP_LOGIN=email-username
SMTP_PASSWORD=email-password

